In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols
import researchpy as rp
from scipy import stats

# Read in csv
df = pd.read_csv('fittedFailureRate.csv', encoding='unicode_escape')
df.head()

C:\Users\ekelseya\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:7: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import (to_datetime, Int64Index, DatetimeIndex, Period,
C:\Users\ekelseya\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:7: FutureWarning: pandas.Float64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import (to_datetime, Int64Index, DatetimeIndex, Period,

,Unnamed: 0,Webpage,Page_Type,Institution,Funding,Tax_type,Region,Type,CU,CSU,CS_Department,CCCS,Elements,Errors,FR,FR_fitted
0,0,https://www.adams.edu/,A,Adams State University,public,non-profit,Southwest,University,no,no,yes,no,698,1,0.001433,0.900164
1,1,https://www.adams.edu/academics/,C,Adams State University,public,non-profit,Southwest,University,no,no,yes,no,729,1,0.001372,0.891194
2,2,https://www.adams.edu/academics/graduate/couns...,D,Adams State University,public,non-profit,Southwest,University,no,no,yes,no,507,1,0.001972,0.969114
3,3,https://www.adams.edu/catalog/,C,Adams State University,public,non-profit,Southwest,University,no,no,yes,no,512,1,0.001953,0.966918
4,4,https://www.adams.edu/faculty-staff/,C,Adams State University,public,non-profit,Southwest,University,no,no,yes,no,645,1,0.001550,0.916706

In [6]:
model = ols("""FR_fitted ~ C(Type)""", data=df).fit()
sm.stats.anova_lm(model, typ=1)

             df      sum_sq   mean_sq          F        PR(>F)
C(Type)     3.0   10.009480  3.336493  15.815344  7.228634e-10
Residual  536.0  113.077555  0.210966        NaN           NaN

In [3]:
model = ols("""FR_fitted ~ C(Region)""", data=df).fit()
sm.stats.anova_lm(model, typ=1)

              df      sum_sq   mean_sq          F        PR(>F)
C(Region)    8.0   20.438519  2.554815  13.216038  1.786755e-17
Residual   531.0  102.648516  0.193312        NaN           NaN

In [4]:
model = ols("""FR_fitted ~ C(Page_Type)""", data=df).fit()
sm.stats.anova_lm(model, typ=1)

                 df      sum_sq   mean_sq         F    PR(>F)
C(Page_Type)    3.0    2.701819  0.900606  4.009836  0.007707
Residual      536.0  120.385216  0.224599       NaN       NaN

In [8]:
model = ols("""FR_fitted ~ C(Page_Type) + C(Region) + C(Type)""", data=df).fit()
sm.stats.anova_lm(model, typ=1)

                 df     sum_sq   mean_sq          F        PR(>F)
C(Page_Type)    3.0   2.701819  0.900606   4.893952  2.304265e-03
C(Region)       8.0  19.462224  2.432778  13.219873  1.840380e-17
C(Type)         3.0   4.310232  1.436744   7.807360  4.163517e-05
Residual      525.0  96.612760  0.184024        NaN           NaN

In [11]:
model = ols("""FR_fitted ~ C(Type) + C(Region) + C(Page_Type)""", data=df).fit()
sm.stats.anova_lm(model, typ=1)

                 df     sum_sq   mean_sq          F        PR(>F)
C(Type)         3.0  10.009480  3.336493  18.130721  3.297413e-11
C(Region)       8.0  15.150621  1.893828  10.291182  2.043272e-13
C(Page_Type)    3.0   1.314174  0.438058   2.380435  6.878049e-02
Residual      525.0  96.612760  0.184024        NaN           NaN